[submodule "scripts/i3-alternating-layout"]
	path = scripts/i3-alternating-layout
	url = https://github.com/olemartinorg/i3-alternating-layout
[submodule "config/polybar/modules/pulseaudio-control"]
	path = config/polybar/modules/pulseaudio-control
	url = https://github.com/marioortizmanero/polybar-pulseaudio-control
[submodule "config/tmux/plugins/tmux-sensible"]
	path = config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "config/tmux/plugins/tmux-pain-control"]
	path = config/tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
