[Unit]
Description=Discord Rich Presence for MPD
Requires=mpd.service

[Service]

ExecStart=/home/veirt/.cargo/bin/mpd-discord-rpc

[Install]
WantedBy=default.target
