* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  transition-duration: 0.25s;
}

window {
  color: rgba(216, 228, 230, 1);
  background: #121214;
}

#workspaces button {
  margin: 5px;
  border-radius: 5px;
  padding: 0px 0px;
}

#workspaces button.visible {
  color: rgba(243, 243, 244, 1);
}

#workspaces button.focused {
  background-color: #212126;
  color: #fff;
}

#workspaces button:hover {
  color: rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#mode,
#pulseaudio,
#backlight,
#battery,
#network,
#clock,
#tray {
  margin: 5px;
  border-radius: 5px;
  background-color: #1A1A1F;
  padding: 10px 15px;
  min-width: 50px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

