* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono NerdFont;
  font-size: 14px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0.25s;
}

window {
  color: rgba(216, 228, 230, 1);
  background: rgba(20, 17, 15, 0.8);
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: rgba(170, 187, 195, 1);
}

#workspaces button.visible {
  color: rgba(170, 187, 195, 1);
}

#workspaces button.focused {
  border-top: 3px solid rgba(243, 243, 244, 1);
}

#workspaces button:hover {
  border-top: 3px solid rgba(243, 243, 244, 1);
  color: rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight {
  margin: 0px 6px 0px 10px;
  min-width: 25px;
  border-bottom: 2px solid rgba(170, 187, 195, 1);
}

#clock {
  margin: 0px 16px 0px 10px;
  border-bottom: 2px solid rgba(170, 187, 195, 1);
  min-width: 140px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}
