* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0.25s;
}

window {
  color: rgba(216, 228, 230, 1);
  background: #1f1f1f;
}

#workspaces button {
  padding: 0px 0px;
  color: rgba(170, 187, 195, 1);
}

#workspaces button.visible {
  color: rgba(243, 243, 244, 1);
}

#workspaces button.focused {
  border-top: 3px solid #757575;
}

#workspaces button:hover {
  color: rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#mode,
#pulseaudio,
#backlight,
#battery,
#network,
#tray {
  margin: 0px 20px 0px 10px;
  min-width: 25px;
}

#clock {
  margin: 0px 16px 0px 10px;
  min-width: 140px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#tray {
  font-family: Ubuntu;
}
