@define-color background #151515;
@define-color urgent #b66467;
@define-color warning #d9bc8c;

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono NF;
  font-size: 14px;
}

window {
  color: rgba(216, 228, 230, 1);
  background: @background;
}

#workspaces button {
  color: #a1a6a6;
  padding: 5px 15px;
}

#workspaces button.focused {
  border-top: 2px solid #d8e4e6;
  color: #d8e4e6;
}

#workspaces button:hover {
  color: #d8e4e6;
}

#workspaces button.urgent {
  color: @urgent;
}

#mode,
#pulseaudio,
#backlight,
#battery,
#network,
#clock,
#tray {
  margin: 5px;
  /* background: #242424; */
  /* border-radius: 8px; */
  padding: 10px 10px;
}

#battery.warning {
  color: @warning;
}

#battery.critical {
  color: @urgent;
}

#taskbar button.active {
  color: green;
}
